<!DOCTYPE html>
<!-- 
Pagina web desarrollada por Salvador Alexandro Ramirez Martinez (RMZ WEBDEV).
Para la compañía salud 360-->
<html>
  <head>
    <meta charset="utf-8">
    <title>SALUD 360</title>
    <link rel="icon" type="image/png" href="../Imagenes/SALUD%20360%20logo.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css"><meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.2.1.js" ></script>
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <script type="text/javascript" src="Counter-Up-master/jquery.counterup.min.js"></script>
    
        <style type="text/css">
      @media only screen and (max-width: 1200px){
        .servicios6{
          padding: 0% 0%;
          padding-bottom: 5%;
        }
        .titleContacto span {
          font-size:18px;
        }
        .tituloNutricion span{
          font-size: 18px;
        }
      }
    </style>

    <script >
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag,firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady(){
        player = new YT.Player('player',{
          height: '100%',
          width: '100%',
          playerVars:{
            autoplay:1,
            loop: 1,
            controls:0,
            showinfo:0,
            autohide:1,
            modestbranding: 1,
            rel: 0,
            playsinline: 0,
            playlist: 'QMJBpA5GyEQ',
            vq:'hd1080'
          },
          videoId: 'QMJBpA5GyEQ',
          events:{
            'onReady': onPlayerReady,
            'onStateChange':onPlayerStateChange
          }
        });
      }

      function onPlayerReady(event){
        event.target.playVideo();
        player.mute();
      }

      var done = false;
      function onPlayerStateChange(event){

      }
      function stopVideo(){
        player.stopVideo();
      }
    </script>
    
  </head>
  <body>

    <header>
      <div class="navbar" style="background-color: white;">
          <div class="container">
            <div class="logo"> <a href="Index.html"><img src="../logo.png" width="100%" height="140%"></a></div>
            <nav>
            <ul>
                <li class="grande"><a href="../index.html">Inicio</a></li>
                <li class="grande"><a href="Servicios.html">Nosotros</a></li>
                <li class="grande"><a href="SemanaSalud.html">Servicios</a></li>
                <li class="grande"><a href="contacto.html">Contacto</a></li>
                <li class="grande"><a href="http://ingresar.salud360.mx/">Ingresar</a>                
                </li>
            </ul>
            </nav>
      </div>
    </div>
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="nosotrosDiv">
        <hr id="dashed">
        <p>Nuestros servicios.</p>
      </div>
      <div class="nosotrosSection">
        <p style="font-size: 30px; padding-left: 3%;">Mejoramos la salud de los colaboradores a través de programas preventivos en temas de nutrición.</p>
      </div>
    </div>

            <div class="container" style="margin-bottom: 2%;">
          <div>
            <img src="../Imagenes/flecha_verde.png" style="height: 57px; width: 93px; padding-left: 85%;">
          </div>
        </div>

        <div class="container">
          <div class="container_player">
            <div id="player"></div>
            </div>
        </div>
        
        <div class="container">
          <div class="servicioSeccion">
            <div class="seccionTexto" style="width: 36%">
              <img src="../Imagenes/flecha_cuadro_verde.png"><br>
              <span>1. Semana de diagnostico</span>
              <ul style="margin-bottom: 27px;">
                <li>Evaluación de indicadores.</li>
                <li>Diagnóstico de cada colaborador.</li>
                <li>1 plática del tema de su preferencia.</li>
                <li>Reporte de resultados.</li>
              </ul>
              <br>
              <br>
            </div>
              <div id="vl"></div>
              <div class="seccionTexto" style="width: 40%">
              <img src="../Imagenes/cuadro_verde_flecha.png"><br>
              <span>2. Nutróloga 360</span>
              <ul>
                <li>Acceso a la plataforma salud360.mx.</li>
                <li>Material didáctico del programa.</li>
                <li>6 sesiónes personalisadas de 30 minutos.</li>
                <li>Evaluación de indicadores.</li>
                <li>Plan de alimentación.</li>
                <li>Reporte inicial y final de resultados.</li>
                <li>1 taller de lectura de etiquetas.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container">
            <div class="servicios6" >
                <div class="titleContacto">
                    <h1>¡Pongámonos en contacto!<br></h1>
                    <span>Nos encantará saber de ti y que nos cuentes como podemos ayudarte.</span>
                </div>

                <div class="contenidoNutricion">
                    <form action="contacto.html">
                      <input type="submit" class="button" value="Contacto">
                    </form>
                        
                </div>
            </div>
        </div>

      
      
    <!-- Contacto y mapa -->
    <footer>
      <p>Todos los derechos reservados &copy; 2019 SALUD 360 - Programas de nutrición. </p>
    </footer>
  
  
        <!-- Codigio para hacer que la pagina se vea mas fluida y menos cuadrada -->
        <!--Realizado por Salvador Alexandro Ramirez Martinez (Developer), con ayuda de Natalia López Almaguer (Designer).
                  Con contribucion de: David Salazar y Ricardo Romero-->
        <script type="text/javascript" src="../js/typed.js"></script>
        <script type="text/javascript" src="../js/waypoints.min.js"></script>
        <script type=""></script>
        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
        <script src="../js/smooth.js"></script>
        <script type="text/javascript" src="../js/waypoints.min.js"></script>
      <script type="text/javascript" src="Counter-Up-master/jquery.counterup.min.js"></script>
    </body>
    </html>
